
  <div class="d-flex align-items-center mb-3 gap-3 text-secondary-emphasis text-decoration-none">
    <%= image_tag(user.photo || '', alt: "#{user.name}-avatar", class: "profile-image border border-5")%>

    <div class="border border-5 w-100  p-1">
      <h2 class="flex-grow-1"> <%= user.name %></h2>
      <div class="d-flex justify-content-end">
        Number of posts: <%= user.posts_counter || 0 %>
      </div>
      </div>
  </div>