<h1 class=" mb-3">List of users</h1>

<section class="w-100">
    <% @users.each do |user| %> 
        <%= link_to user_path(user) do %>
       <%= render "user", user: user %>
       <% end %>
    <% end %>
</section>